<!DOCTYPE html>
<html>
<head>


</head>
<body>
<img class="topleft" align="left" src="{{ asset('build2/Knight/logo.png') }}" width="100px" height="60px">

<div class="top-rightop">
    <strong><h5 style="color:green;">Parapharmacie</h5></strong>
    <h6>Date: {{ commande.dateCommande| date('d/m/Y') }}</h6>
</div>
</body>
</html>